.contact {
  background-color: $color-black;
  color: $color-white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }

  @media only screen and (min-width: 768px) {
    padding: 3rem 5rem;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 750px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
