.experience {
  background-color: $color-black;
  color: $color-white;
  padding: 3rem;

  &__content {
    @media only screen and(min-width: 768px ) {
      display: flex;
    }
  }
  &__horizontal-tab {
    display: block;
    @media only screen and(min-width: 768px ) {
      display: none !important;
    }
  }

  &__vertical-tab {
    display: none !important;
    @media only screen and(min-width: 768px ) {
      display: flex !important;
      margin-right: 2rem;
    }
  }

  &__tab.Mui-selected {
    border-bottom: 2px solid $color-gold;
    background-color: rgba($color-white, 0.1);
    @media only screen and(min-width: 768px ) {
      border-bottom: none;
      border-right: 2px solid $color-gold;
    }

    &:focus {
      outline: none;
    }
  }

  .PrivateTabIndicator-root-1.PrivateTabIndicator-colorSecondary-3.MuiTabs-indicator.PrivateTabIndicator-vertical-4,
  .PrivateTabIndicator-root-1.PrivateTabIndicator-colorSecondary-3.MuiTabs-indicator {
    display: none !important;
  }
}

.panel {
  background-color: $color-white;
  color: $color-black;
  flex: 1;
  min-height: 20rem;

  &--location-date {
    margin-bottom: 1rem;
  }

  &--description {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 1rem;
  }
  &__list-items {
    margin-left: 2rem;
  }
  &__list-item {
    margin-bottom: 0.5rem;
  }
}
