.skills {
  background-color: $color-black;
  color: $color-white;
  padding: 3rem;
  font-size: 1.1rem;
  @media only screen and (min-width: 1024px) {
    padding: 2rem 3rem;
  }

  &__card-container {
    display: flex;
    flex-wrap: wrap;
  }
}
