.social-media-icons {
  display: flex;
  width: 100%;
  max-width: 16rem;
  @media only screen and (min-width: 1024px) {
    max-width: 13rem;
  }

  a {
    &:not(:last-of-type) {
      margin-right: auto;
    }
  }
}

.social-media-icon {
  color: $color-black;
  height: 2.2rem;
  @media only screen and (min-width: 1024px) {
    height: 2.5rem;
  }
}
