.sidebar {
  background-color: $color-black-2;
  z-index: 1;
  position: fixed;
  height: 100%;
  padding: 0 1rem;

  &__brand {
    display: block;
    color: $color-white;
    margin-top: 1.5rem;
    font-size: 2.25rem;
    font-weight: 900;
    text-decoration: none;
  }
  &__item {
    color: $color-white;
    text-align: center;
    display: block;
    margin-top: 2.5rem;
    text-decoration: none;
    font-size: 0.7rem;
  }
}
