.skill-card {
  padding: 0.3rem;
  padding-top: 3.5rem;
  border-radius: 10px;
  min-width: 230px;
  max-width: 300px;
  height: 300px;
  margin: 1rem auto;
  position: relative;
  background-color: $color-white;

  @media only screen and (min-width: 1024px) {
    &:nth-child(2),
    &:nth-child(3) {
      margin: auto;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-gray;
    color: $color-black;
    width: 100%;
    padding: 0.75rem 1.2rem;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-weight: 900;

    @media only screen and (min-width: 1024px) {
      font-size: 1.2rem;
    }
  }

  &__tech-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // overflow-y: scroll;
    max-height: 100%;
    pointer-events: none;
    padding-top: 2rem;
    @media only screen and (min-width: 1024px) {
      padding-top: 0.5rem;
    }

    & > .tech-card {
      pointer-events: auto;
    }

    &:hover {
      & .tech-card {
        filter: brightness(90%) blur(1px);

        &:hover {
          filter: brightness(100%) blur(0) !important;
        }
      }
    }
  }
}
