* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;

  @media only screen and (min-width: 425px) {
    font-size: 10px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(74, 102, 255, 1) 0%,
    rgba(156, 189, 255, 1) 100%
  );
}
